@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Trebuchet MS';
	display: flex;
	justify-content: center;
}

main{
	display: flex;
	border: 2px solid black;
	border-radius: 20px;
	margin: 20px;
	width: fit-content;
}

form{
	display: flex;
	flex-direction: column;
	padding: 30px 45px;
}

input{
	font-family: 'Trebuchet MS';
	font-size: medium;
	margin: 5px 0 15px 0;
	border: 2px solid black;
	border-radius: 10px;
	padding: 7px 20px 7px 10px;
	width: 100%;
}

input[type="password"]{
	padding-right: 40px;
}

.password-field{
	position: relative;
}

.visibility{
	position: absolute;
	top: 11px;
	right: 10px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

input::placeholder{
	color: lightgray;
}

input:focus{
	outline: 1px solid black;
	background-color: aliceblue;
}

.invalid-input{
	border: 2px solid red;
	color: red;
	margin-bottom: 5px;
}

.invalid-input:focus{
	outline: 1px solid red;
}

input[class="invalid-input"] ~ .warning{
	display: block;
}

.warning{
	display: none;
	color: red;
	font-size: small;
	margin-bottom: 20px;
}

.submit{
	font-family: 'Trebuchet MS';
	font-size: medium;
	margin: 5px 0 15px 0;
	border: none;
	border-radius: 10px;
	padding: 12px 25px;
	background-color: black;
	color: white;
}

.progress-wrapper{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 25px 25px 25px 0;
}

.progress-bar{
	font-family: 'indie flower';
	font-size: x-large;
	font-weight: bold;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid lightgray;
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.progress-bar::after{
	content: '';
	position: absolute;
	border: 3px solid black;
	border-right: 3px solid transparent;
	border-radius: 50%;
	height: 94px;
	width: 94px;
	transform: rotate(-45deg);
}

.progress-wrapper p{
	align-self: flex-start;
	font-size: larger;
	margin: 20px 15px;
}

ul{
	border-radius: 25px;
	font-size: 15px;
	list-style: none;
	background-color: rgb(234, 234, 234);
	padding: 25px 15px;
	margin-bottom: auto;
	flex-grow: 1;
}

li{
	margin: 10px 0;
}

.finished{
	text-decoration: line-through;
	color: gray;
}

@media screen and (max-width: 520px){
	main{
		flex-direction: column;
		width: 90%;
	}

	form{
		padding: 20px 20px 0 20px;
	}

	.progress-wrapper{
		padding: 20px;
	}

	ul{
		width: 100%;
	}
	
}